main {
    width: 100vw;
}

.header-container {
    background-color: #2A9D8F;
    height: 55px;
    width: 100%;
    display: flex;
    color: white;
    position: fixed;
    font-weight: bold;
}

.header-title {
    width: 45%;
    align-self: center;
}

a > div.website-title:hover {
    color: white;
}

.website-title {
    margin-left: 40px;
    font-size: 25px;
    font-style: italic;
}

.navbar-extended {
    width: 55%;
    margin-right: 50px;
}

.navbar-minimized {
    display: none;
    width: 55%;
}

/* media queries */

@media (max-width: 800px) {
    .navbar-extended {
        display: none;
    }
    .navbar-minimized {
        display: block;
    }
    .website-title {
        font-size: 16px;
    }
}