.navbar-minimized-window {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.hover-container {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    align-items: flex-end;
    width: 150px;
}

.dropdown-comic {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.hello {
    height: 100px;
    color: black;
    font-size: 11px;
    flex:1 1 0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.drop-get-item {
    flex: 1 1 0;
}

.dropdown-comic:hover .hello{
    display: flex;
}

.dropdown-button {
    margin-top: 5px;
    font-size: 35px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.dropdown {
    width: 150px;
    height: 250px;
    background-color: #2A9D8F;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.drop-text {
    font-size: 15px;
}

.dropdown-container {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    color: #E76F51;
}

.hover-container:hover .dropdown-container{
    display: inline-block;
}

.dropdown-button:hover {
    cursor: pointer;
    color: #E76F51;
}

#drop-get-comics:hover {
    cursor: pointer;
    color: #E76F51;
}