.home-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://imgs.xkcd.com/comics/mark.png');
}

.welcome-box {
    background-color: #E9C46A;
    width: 500px;
    height: 350px;
    border-radius: 100px;
    margin: 75px;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition-duration: 0.5s;
    box-shadow: blue 0px 0px 0px 2px inset;
}

.welcome-box:hover {
    border: 0;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}

.welcome-box:hover .welcome-text {
    color: rainbow;
    text-shadow: black 4px -3px 3px;
} 

.welcome-box:hover .get-comic-home-button {
    background-color: #E76F51;
}

.welcome-text {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
    color: white;
    transition-duration: 0.3s;
    text-shadow: 0 0 10px black;
}

.get-comic-home-button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: #2A9D8F;
    border: 0;
    font-weight: bold;
    color: white;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.get-comic-home-button:hover {
    cursor: pointer;
    color: white;
}

@media(max-width: 500px) {
    .welcome-box {
        height: 200px;
        border-radius: 50px;
    }

    .welcome-text {
        font-size: 20px;
    }

    .get-comic-home-button {
        width: 105px;
        height: 35px;
    }
    .home-main-container {
        background-image: none;
    }
}

@media(max-width: 800px) {
    .welcome-box {
        box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
    }

    .welcome-text {
        text-shadow: black 4px -3px 3px;
    }
    
    .get-comic-home-button {
        transition-duration: 0s;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
}