.nav-ext-window {
    width: 100%;
    height: 100%;
    display: flex;
}

.nav-ext-links {
    width: 100%;
    height: 100%;
}

.nav-ext-buttons {
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-ext-buttons:hover {
    background-color: #E9C46A;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.comic-dropdown {
    display: none;
    transition-duration: 0.5s;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    font-size: 13px;
    color: white;
    height: 150px;
}

#nav-ext-get-comics:hover #get-comics-title{
    background-color: #E9C46A;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#nav-ext-get-comics:hover .comic-dropdown {
    display: flex;
    border-radius: 15px;
    background-color: #2A9D8F;
}

.comic-drop-item:hover {
    color: #E9C46A;
}